DATABASE_URL="mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]"
OPENAI_API_KEY="sk-"
OPENAI_API_ORG="org-"
SERP_API_KEY=""
GPT_PROMPT="Describe con un objeto json tu siguiente post en el blog (debe estar escrito en español) incluye tema principal (título), una lista de parrafos de introducción (3 parrafos), una cita relacionada al tema principal de un autor reconocido, una lista secciones cada seccion se compone por un título (lis titulos de las secciones no debe ser conclusión o conclusiones) y una lista de parrafos que hacen su contenido, una lista de parrafos de conclusión (3 parrafos), una lista de palabras clave y una cadena de texto (search query) en ingles para buscar una imagen relacionada, (todos los parrafos deben ser extensos) usa el siguiente esquema: {'title':'','introduction':[''],'quote':{'text':'','author':''},'sections': [{'subtitle':'','content':['']}],'conclusion':[''],'keywords':[''],'searchQuery':''}"
NEXT_PUBLIC_IMAGE_KIT_PUBLIC_KEY="public_"
IMAGE_KIT_PRIVATE_KEY="private_"
NEXT_PUBLIC_IMAGE_KIT_END_POINT="https://ik.imagekit.io/"
PROMPT_KEYWORDS="Para un blog sobre desarrollo de software y tecnología, dada una lista de keywords debes sugerir una lista de títulos para un post relacionado (incluir 10 títulos) y una lista de 5 keywords para ser un tema mas especifico. Contesta unicamente un objeto json con el siguiente esquema: {titles:[],keywords:[]}"
SCALE_SERP_API_KEY=""
NEXTAUTH_SECRET=""
ADMIN_PIN="123456"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
PROMPT_GET_SUBREDDIT_SUGGESTIONS="Dada una serie de posts en un subreddit y su id: por cada uno responde el id y en base al post sugiere el titulo para un artículo en un blog (sobre desarrollo de software en español). Contesta unicamente un objeto json con el siguiente esquema: {posts:[{id:'',suggestion:''}]}"